@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<table class="table" @*border="1"*@>
    <tr><th>Order ID</th><th>Customer ID</th><th>Employee ID</th></tr>
    @foreach (var Element in ViewBag.Olist)
    {
        <tr>
            <td>@Element.OrderID</td>
            <td>@Element.CustomerID</td>
            <td>@Element.EmployeeID</td>
            
        </tr>
    }


</table>
